Repository ipt-cryptolabs/fb-labs-2019, pull requests merged in 2019-12, with the labels that each got.

#103 [CP-2] D.Rakovych (FB-73), D. Pekarchuk (FB-74): CP-2 Code and Protocol
  cp_2/pekarchuk_fb_74_rakovych_fb_73/.gitignore
  cp_2/pekarchuk_fb_74_rakovych_fb_73/cipher.py
  cp_2/pekarchuk_fb_74_rakovych_fb_73/crypta laba 2.pdf
  cp_2/pekarchuk_fb_74_rakovych_fb_73/get_key.py
Labels: needs_cleanup, report_improvements

#107 [CP-3][V-18] N.Topchiy (FB-74), V.Vysochanska (FB-71)
  cp_3/topchiy_fb-74_vysochanska_fb-71_cp3/.gitignore
  cp_3/topchiy_fb-74_vysochanska_fb-71_cp3/CP_LAB3/CP_LAB3/Main.cpp
  cp_3/topchiy_fb-74_vysochanska_fb-71_cp3/Lab 3 Report.pdf
  cp_3/topchiy_fb-74_vysochanska_fb-71_cp3/Output.txt
Labels: needs_results, report_improvements

#97 [CP-2] Korol(FB-72), Stepanets(FB-72)
  cp_2/korol_fb-72_stepanets_fb-72_cp2/2.py
  cp_2/korol_fb-72_stepanets_fb-72_cp2/CP-2.pdf
  cp_2/korol_fb-72_stepanets_fb-72_cp2/task.txt
Labels: report_improvements

#88 [CP-2][V-5] A.Bozhko (FB-73): Report + code
  cp_2/bozhko_fb73_cp2/CP2bozhko_report.pdf
  cp_2/bozhko_fb73_cp2/cp2_2510.cpp
  cp_2/bozhko_fb73_cp2/cp2_2cipher2610.cpp
Labels: report_improvements
